@import "@material/theme/color-palette";

$mdc-theme-primary: #0abeda;
$mdc-theme-secondary: #c89b3c;
// Other Svelte color: #40b3ff

$mdc-theme-background: #031422;
$mdc-theme-surface: #2c3a4a;

$mdc-theme-error: $material-color-red-900;